* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	max-width: 900px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 50px;
	padding: 100px;
}

.people {
	padding: 20px;
	border: 1px solid black;
	border-radius: 1px;
	background-color: antiquewhite;
	font-size: 20px;
	font-family: sans-serif;
	line-height: 1.5em;
}

.photo {
	width: 170px;
	margin-top: 20px;
}

.progress {
	border: 1px solid black;
	/*border-left: 50px solid green;*/
	background: linear-gradient(to right, rgb(29, 136, 29), antiquewhite);
	margin-top: 20px;
	padding: 5px;
	text-align: center;
}
